<template>
  <Page>
    <ActionBar backgroundColor="#e74c3c" color="white" title="Take a Photo and Upload it !" />

    <StackLayout>
      <Button color="#e74c3c" text="Take a photo" @tap="takePicture" />
      <Button color="#e74c3c" text="Choose a photo" @tap="selectPicture" />

      <Progress
        v-if="is_sending"
        color="#e74c3c"
        height="20"
        width="100%"
        :value="currentBytes"
        :maxValue="totalBytes"
      />
      <StackLayout v-if="is_sending" verticalAlign="center" height="100">
        <ActivityIndicator :busy="is_sending" color="#e74c3c" width="100" height="100" />
      </StackLayout>

      <WrapLayout>
        <StackLayout v-for="(img,index) in images" :key="index">
          <Image :src="img.src" width="120" height="120" />
          <Button
            v-show="!is_sending"
            backgroundColor="#e74c3c"
            color="white"
            text="Upload"
            @tap="onUploadButtonTap(img)"
          />
        </StackLayout>
      </WrapLayout>
    </StackLayout>
  </Page>
</template>

<script>
import * as camera from "nativescript-camera";
import * as imagepicker from "nativescript-imagepicker";
import { Image } from "tns-core-modules/ui/image";
import { isAndroid, isIOS, device, screen } from "tns-core-modules/platform";

const fileSystemModule = require("tns-core-modules/file-system");
const bghttp = require("nativescript-background-http");
const session = bghttp.session("image-upload");

export default {
  data() {
    return {
      images: [],
      is_sending: false,
      totalBytes: 0,
      currentProgress: 0,
      currentBytes: 0
    };
  },
  methods: {
    onUploadButtonTap(img) {
      if (this.is_sending) {
        alert("Sorry, an upload is already in progress");
        return;
      } else {
        this.upload(img);
      }
    },
    upload(img) {
      //Set your ImgBB API key (https://api.imgbb.com/)
      //directly here
      const api_key = "";

      if (api_key === "") {
        this.is_sending = false;
        alert("Please set your ImgBB API key");
        return;
      }

      const url = "https://api.imgbb.com/1/upload";
      const file_size_limit = 32000000; //32MB = 32 000 000 bytes

      let file_path = "";

      if (isAndroid) file_path = img.src._android;
      else if (isIOS) file_path = img.src._ios;

      if (file_path === "" || file_path === undefined) {
        this.is_sending = false;
        alert("Can't find file");
        return;
      }

      const file_name = file_path.substr(file_path.lastIndexOf("/") + 1);

      const exists = fileSystemModule.File.exists(file_path);

      if (!exists) {
        this.is_sending = false;
        alert("File does not exist");
        return;
      }

      const file = fileSystemModule.File.fromPath(file_path);

      const file_size = file.size; //Gets the size in bytes of the file.

      if (file_size >= file_size_limit) {
        this.is_sending = false;
        alert("File size must be less than " + file_size_limit + "MB");
        return;
      }

      this.is_sending = true;

      const request = {
        url: url + "?key=" + api_key,
        method: "POST",
        headers: {
          "Content-Type": "application/octet-stream"
        },
        description: "Uploading " + file_name
      };

      const params = [
        { name: "image", filename: file_path, mimeType: "image/jpeg" }
      ];

      const task = session.multipartUpload(params, request);

      task.on("progress", this.progressHandler);
      task.on("error", this.errorHandler);
      task.on("responded", this.respondedHandler);
      task.on("complete", this.completeHandler);
      task.on("cancelled", this.cancelledHandler); // Android only
    },
    selectPicture() {
      let context = imagepicker.create({
        mode: "multiple"
      });

      context
        .authorize()
        .then(function() {
          return context.present();
        })
        .then(selection => {
          selection.forEach(selected => {
            //console.log(JSON.stringify(selected));

            let img = new Image();
            img.src = selected;
            this.images.push(img);
          });
        })
        .catch(function(e) {
          alert("An error has occured");
          console.log("error in selectPicture", e);
        });
    },
    takePicture() {
      camera
        .requestPermissions()
        .then(() => {
          camera
            .takePicture({
              width: 300,
              height: 300,
              keepAspectRatio: true,
              saveToGallery: false
            })
            .then(imageAsset => {
              let img = new Image();
              img.src = imageAsset;
              this.images.push(img);
            })
            .catch(e => {
              alert("An error has occured");
            });
        })
        .catch(e => {
          console.log("Error requesting permission");
        });
    },
    progressHandler(e) {
      this.totalBytes = Number(e.totalBytes);
      this.currentBytes = Number(e.currentBytes);

      if (this.currentBytes && this.totalBytes) {
        this.currentProgress = (this.currentBytes / this.totalBytes) * 100;
      }
    },
    errorHandler(e) {
      this.is_sending = false;
      console.log("received " + e.responseCode + " code.");
      alert(
        `An Error has occured  (Error code : "${e.responseCode}"). Image has not been uploaded !`
      );
    },
    respondedHandler(e) {
      this.is_sending = false;
      const result = JSON.parse(e.data);

      const uploaded_image = result.data;

      console.log(uploaded_image.url); //URL to save

      alert({
        title: "Success",
        message: `Image has been uploaded ! Here is it's url : ${uploaded_image.url}`,
        okButtonText: "OK"
      });
    },
    completeHandler(e) {
      this.is_sending = false;
      const serverResponse = e.response;
    },
    cancelledHandler(e) {
      this.is_sending = false;
      alert("upload cancelled");
    }
  }
};
</script>
